:root {
  --primary-font: "Open Sans", sans-serif;
  --text-color: #696d76;
  --dark-color: #212832;
  --primary-color: #7264d6;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
.btn {
  --height: 58px;
  color: #fff;
  font-weight: 600;
  line-height: var(--height);
  height: var(--height);
  outline: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-1 {
  background-color: var(--dark-color);
  border: 3px solid var(--dark-color);
  transition: all 0.2s linear;
}
.btn-1:hover {
  color: var(--dark-color);
  background-color: #fff;
  border: 3px solid var(--dark-color);
}
.btn-2 {
  border: 3px solid var(--primary-color);
  background-color: var(--primary-color);
  transition: all 0.2s linear;
}
.btn-2:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
}
.heading {
  color: var(--dark-color);
  font-size: 4rem;
  font-weight: 700;
  line-height: 125%;
}
.desc {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 166.667%;
}
/* Header */
.header {
  padding-top: 30px;
  position: sticky;
  top: -30px;
  z-index: 99;
  background-color: #fff;
}
.header-container {
  padding: 12px;
  display: flex;
  align-items: center;
}
.header-nav {
  margin-left: 46px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-link {
  padding: 6px 24px;
  display: inline-block;
  color: var(--text-color);
  font-weight: 400;
  position: relative;
  transition: all 0.2s linear;
}
.header-menu-link:hover {
  color: var(--dark-color);
  font-weight: 600;
}
.header-menu-link::before {
  content: attr(title);
  display: block;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-menu-link::after {
  content: "";
  background-color: var(--dark-color);
  position: absolute;
  width: calc(100% - 48px);
  height: 3px;
  bottom: -6px;
  left: 24px;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header-menu-link:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}
.header-auth {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0 14px;
}
.log-in-btn {
  padding: 0 14px;
  color: var(--dark-color);
  font-weight: 600;
}
.log-in-btn:hover {
  text-decoration: underline;
}
.sign-up-btn {
  --height: 52px;
  min-width: 113px;
  border-radius: 6px;
}
/* Hero */
.hero {
  margin-top: 64px;
}
.hero-container {
}
.hero-content {
  padding-top: 57px;
  max-width: 540px;
}
.hero-sub-heading {
  font-size: 1.6rem;
  position: relative;
  padding-left: 30px;
}
.hero-sub-heading::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: #696d77;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero-heading {
  margin-top: 12px;
  font-size: 6rem;
  font-weight: 700;
  line-height: 116.667%;
}
.hero-heading span {
  color: var(--primary-color);
}
.hero-desc {
  margin-top: 20px;
}
.hero-form {
  margin-top: 40px;
  position: relative;
}
.hero-input {
  width: 100%;
  padding: 23px 200px 23px 23px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  outline: none;
  border: 2px solid transparent;
  color: var(--text-color);
  font-weight: 400;
  transition: all 0.2s linear;
}
.hero-input:focus {
  border: 2px solid var(--primary-color);
}
.hero-btn {
  min-width: 149px;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}
.hero-form-note {
  margin-top: 20px;
  font-size: 1.4rem;
  display: inline-block;
}
.hero-media {
  position: relative;
}
.hero-decor-1 {
  position: absolute;
  top: 113px;
  left: -6px;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  padding: 14px 10px;
}
.hero-decor-1 span {
  color: #31456a;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 19px 0 8px;
}
.hero-decor-1 strong {
  color: #4ab5e3;
  font-size: 1.4rem;
  font-weight: 400;
}
.hero-decor-2 {
  position: absolute;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
  display: flex;
  align-items: center;
  gap: 0 11px;
  padding: 20px 15px;
  bottom: 61px;
  right: 94px;
}
.hero-decor-2 strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.hero-decor-2 span {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
}
.hero-decor-3 {
  position: absolute;
  top: 127px;
  right: 0;
  width: 130px;
  padding: 30px 33px;
  height: 130px;
  background-color: #da6464;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-decor-3 strong {
  color: #fff;
  font-size: 4.4rem;
  font-weight: 600;
}
.hero-decor-3 span {
  color: #fff;
  font-weight: 400;
}
